              </div>

          <!-- Footer -->
              <footer id="footer">
                  <section>
                    <h3>Subscribe</h3>
                    <iframe src="https://MYCAMPAIGN.us15.list-manage.com/subscribe?u=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" height="750" width="480"></iframe>
                  </section>
                  <section class="split contact">
                      <section class="alt">
                          <h3>Address</h3>
                          <p>123 Chimpmail st.<br />
                          San Francisco, CA 94109</p>
                      </section>
                      <section>
                          <h3>Contact</h3>
                          <p><a href="mailto:persie.joseph@gmail.com?subject=WebsiteMyMailchimp">click to open</a></p>
                      </section>
                  </section>
              </footer>

          <!-- Copyright -->
              <div id="copyright">
                  <ul><li>My Copyright Here</li></li></ul>
              </div>

        <!-- Scripts -->
            <script src="assets/js/main.js"></script>
    </body>
</html>
