<!DOCTYPE HTML>
<html>
    <head>
        <title>Website My Mailchimp</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=600, initial-scale=.75" />
        <link rel="stylesheet" href="assets/css/main.css" />
        <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    </head>
    <body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper" class="fade-in">

      <!-- Intro -->
      <div id="intro">
        <h1>Header</h1>
        <h5>Subheader</h5>
        <br />
        <ul class="actions">
          <li><a href="#header" class="button icon solid solo fa-arrow-down scrolly"></a></li>
        </ul>
        <!-- Header -->
        <header id="header">
          <div id="spnt-logo"></div>
          <a href="#" class="logo">Action</a>
        </header>
      </div> 
      <!-- Nav -->
      <nav id="nav">
        <ul class="links">
          <li class="active"><a href="index.html">Latest</a></li>
          <li><a href="archive.html">Archive</a></li>
          <li><a href="https://MYCAMPAIGN.us15.list-manage.com/subscribe?u=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" target="_blank">Subscribe</a></li>
        </ul>
        <ul class="icons">
          <li><a href="https://www.meetup.com/YOURMEETUP/" class="icon brands alt fa-meetup"><span class="label">Meetup</span></a></li>
        </ul>
      </nav>

      <!-- Main -->
      <div id="main">
